body {
    color: white;
    background-color: rgb(46, 192, 177);
    margin: 0px;

    font-family: "Franklin Gothic", sans-serif;
    font-size: 20px;
}

header{
    align-items: center;
    text-align: center;
}

nav{
    background-color: rgb(4, 126, 114);
    width: 100%;
    display: flex;
    padding: 5px 0px 5px 0px;

    text-align: center;
    font-weight: bold;
}

a{
    color: rgb(11, 109, 94);
    font-weight: bold;
    
}

a:hover{

    text-decoration: underline;
}

footer a, header a{
    color: white;
}

footer a:hover, header a:hover{
    color: rgb(29, 56, 207);
}

footer{
    width: 100%;
    height: 60px;
    background-color: rgb(4, 126, 114);
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-weight: bold;
}

footer img, .main_content img{
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
}

.clearfix {
	clear: both;
}

.container{
    max-width: 100%;
    width: 100%;
	margin: 0 auto;
}

.main_content{
    width: 65%;
    height: 100%;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
}

.side_menu{
    width: 25%;
    height: 100%;
    float: right;
    padding: 20px 0px 0px 0px;
    background-color: rgb(18, 156, 142);
}

.tela{
    height: 900px;
}

.side_menu img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(14, 104, 96);

}

.sec{
	width: 100%;
	float: left;
    
    margin: 20px 0px 5px 0px;

    border-bottom: 1px solid rgb(14, 104, 96);
}

.sec:last-of-type{
    border: none;
}

.sec p{
    text-align: justify;    
}

.side_menu ul{
    list-style: none;
}

li:not(:first-of-type) {
    margin-top: 1.5em;
}

.side_menu li:not(:first-of-type) {
    margin-top: 0.5em;
}

.titulo{
    width: 100%;
    border-bottom: 4px dotted rgb(4, 126, 114);
}

.um_terco{
    float: left;
	width: 33%;
    background-color: rgb(4, 126, 114);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}